body{
    margin:0;
    background-image: url(../images/a.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}
.register-content{
    background-color: rgba(249, 248, 244, 1);
    margin-top: 120px;
    box-shadow: 6px 10px 15px 1px #00000047;
    margin-bottom: 30px;
    opacity: 0.6;
    filter: alpha(opacity=60);
}
.register-content .heading{
     background: linear-gradient(to right,rgb(52, 133, 163), rgb(83, 217, 254)) !important;
    margin: -15px;
    padding: 10px 0 10px 15px;
    color: white;
    padding-left: 15px;
    font-size: 22px;
    font-family: initial;
    font-style: inherit;
}
.register-content .register-form{
    margin: 35px 0 10px 0;
}
/*navbar before login*/
.custom-navbar{
    background-color:rgba(0, 166, 255, 0) !important;
}
.custom-navbar a ,p{
    color: white !important;
    font-size: 20px;
    font-family: serif;
}
.custom-navbar a:hover{
    background-color:rgb(10, 159, 239);
}
/*table*/
.table-background{
    background: #fbfbfb;
    color: black;
    box-shadow: 6px 10px 15px 1px #00000047;
    margin-top: 100px;
}
.table-background a{
    color: black;
}
.table-background a:hover{
  color :rgb(52, 133, 163);
}
.student-table{
    margin-top: 200px;
    box-shadow: 6px 10px 15px 1px #00000047;
}
.each-heading{
    background: linear-gradient(to right,rgb(52, 133, 163), rgb(83, 217, 254)) !important;
}


